

.ajax__calendar_days table tr td, .ajax__calendar_months table tr td,
.ajax__calendar_years table tr td {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0px;
    min-height: 500px;
}

table.Table2 {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 13px;
    text-align: left;
    width: auto;
}

    table.Table2 th {
        vertical-align: middle;
        text-align: left;
    }

    table.Table2 td {
        padding-right: 5px;
        padding-top: 5px;
    }

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: #FFFFFF;
    max-width: 900px;
    border: 3px solid #0DA9D0;
    border-radius: 12px;
    padding: 0;
}

    .modalPopup .header {
        background-color: #2FBDF1;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        padding-left: 5px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .modalPopup .body {
        padding-left: 5px;
        min-height: 50px;
        line-height: 20px;
    }


/*div.heading {
    padding-top: 10px;
    background: #fff url('../Siteimages/heading-bg.png') no-repeat scroll top left;
    width: auto;
    height: 30px;
}

    div.heading h2 {
        color: #03315C;
        font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
        font-size: 20px;
        letter-spacing: -0.25px;
        font-weight: normal;
        padding: 5px 5px 5px;
        margin: 0;
    }

h1 {
    color: #000;
    font-size: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0;
    background: none;
    border-bottom: none;
    text-transform: none;
    line-height: 1.0em;
    padding: 0 0 5px;
}

    h1 strong {
        color: #03315C;
        font-weight: normal;
    }

h2 {
    color: #03315C;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: -0.25px;
    font-weight: normal;
    padding: 0 0 5px;
    margin: 0;
}

h3 {
    color: #26678C;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}

h4 {
    padding-bottom: 10px;
    font-size: 15px;
    color: #555;
}

h5 {
    padding-bottom: 10px;
    font-size: 13px;
    color: #999;
}*/

/*p {
    line-height: 1.9em;
    margin-bottom: 20px;
    font-size: 12px;
}*/

.required {
    color: #FF3334;
    font-size: 14px;
}

.expected {
    color: #4800ff;
    font-size: 14px;
}

.AppTable {
    
    width: 100%;
    vertical-align: top;
}

    .AppTable table {
        vertical-align: top;
    }

        .AppTable table th {           
            vertical-align: top;
            text-align: left;
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
        }

        .AppTable table td {
            padding-top: 5px;
            padding-right: 5px;
             padding-bottom: 5px;
              vertical-align: top;
        }

    .AppTable input,table select, table textarea {
        padding: 5px;
        color: #333333;
        border: 1px solid #ddd;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
    }

.wizardTable {
    border-left: #0099ff thin solid;
    border-top: #0099ff thin solid;
    width: 100%;
    vertical-align: top;
}

    .wizardTable table {
        width: 100%;
        vertical-align: top;
    }

        .wizardTable table th {
            color: #0c9007;
            vertical-align: middle;
            text-align: left;
        }

        .wizardTable table td {
            padding-top: 2px;
            padding-right: 5px;
        }

wizardTable input, wizardTable select, wizardTable textarea {
    padding: 5px;
    color: #333333;
    border: 1px solid #ddd;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

select disabled {
    background-color: #0099ff;
}

select {
    border: solid 1px #0099ff;
    font-size: 9pt;
    color: #000000;
    background-color: #ffffff;
}

.wizardSide {
    padding-top: 10px;
    width: 190px;
    vertical-align: top;
}

    .wizardSide td {
        padding-bottom: 20px;
    }

    .wizardSide a {
        color: #000033;
        text-decoration: none;
        padding-left: 10px;
        font-weight: bold;
    }

        .wizardSide a:hover {
            color: #FFF;
            background-color: #03315C;
        }


.wizardStepHeader {
    color: #03315C;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: -0.25px;
    font-weight: normal;
    padding: 5px 5px 5px;
    background: #fff url('../Siteimages/heading-bg.png') no-repeat scroll top left;
    margin: 0;
}






table.Table2 input, table select, table textarea {
    padding: 5px;
    color: #333333;
    border: 1px solid #ddd;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

/*input[type="submit"] {
    border: solid 1px #7F9DB9;
    background: #03315C;
    color: #fff;
    min-width: 50px;
}*/

/*input[type="submit"] {



  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 5px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(21,142,8,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);




}*/
/*input[type="submit"] {
    border: solid 1px #7F9DB9;
    background: #0c9007;
    color: #fff;
    min-width: 50px;
}*/
/*input[type="submit"]:hover {
       
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 5px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 
  color: #fff;
  -o-text-overflow: clip;
  text-overflow: clip;
  background-color:#333333;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }*/
/*.GVFixedHeader {
    font-weight: bold;
    background-color: Green;
    position: relative;
    top: expression(this.parentNode.parentNode.parentNode.scrollTop-1);
}
.gridDynamic {
    background-color: #fff;
    border: solid 1px #525252;
    border-collapse: collapse;
    width: 97%;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}
.gridDynamic Caption {
    
    border: solid 1px #525252;
    border-collapse: collapse;
    font-size:14px;
    font-weight:bold;
}

    .gridDynamic td {
        padding: 2px;
        border: solid 1px #525252;
    }

    .gridDynamic th {
        padding: 4px 2px;
        color: #fff;
        background: #03315C;
        border: solid 1px #fff;
    }

    .gridDynamic .pgr table {
        margin: 5px 0;
    }

    .gridDynamic .pgr td {
        border-width: 0;
        padding: 0 6px;
        border-left: solid 1px #666;
        font-weight: bold;
        color: #fff;
        line-height: 12px;
    }

    .gridDynamic .pgr a {
        color: #666;
        text-decoration: none;
    }

        .gridDynamic .pgr a:hover {
            color: #000;
            text-decoration: none;
        }*/



tooltip {
    border-bottom: 1px dotted #000000;
    color: #000000;
    outline: none;
    cursor: help;
    text-decoration: none;
    position: relative;
}

.tooltip span {
    margin-left: -999em;
    position: absolute;
}

.tooltip:hover span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute;
    left: 1em;
    top: 2em;
    z-index: 99;
    margin-left: 0;
    width: 250px;
}

.tooltip:hover img {
    border: 0;
    margin: -10px 0 0 -55px;
    float: left;
    position: absolute;
}

.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
    display: block;
    padding: 0.2em 0 0.6em 0;
}

.classic {
    padding: 0.8em 1em;
}

.custom {
    padding: 0.5em 0.8em 0.8em 2em;
}

.classic {
    background: #FFFFAA;
    border: 1px solid #FFAD33;
}

.critical {
    background: #FFCCAA;
    border: 1px solid #FF3334;
}

.help {
    background: #0099ff;
    border: 1px solid #2BB0D7;
}

.info {
    background: #0099ff;
    border: 1px solid #2BB0D7;
}

.warning {
    background: #FFFFAA;
    border: 1px solid #FFAD33;
}

.accordionHeader {
    border: 1px solid #2F4F4F;
    color: #fff;
    background-color: #2E4d7B;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected {
    border: 1px solid #2F4F4F;
    color: #fff;
    background-color: #be1818;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionContent {
    border: 1px dashed #2F4F4F;
    border-top: none;
    font-size: 12px;
    color: #000;
    padding: 10px,5px,5px,5px;
}

#scheduler {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    height: 450px;
}

    #scheduler .item {
        border: 2px #000 solid;
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        width: 100px;
        background-color: #D6E796;
    }

    #scheduler .rangeheader {
        border: 2px #000 solid;
        text-align: center;
        vertical-align: middle;
        background-color: #4F342B;
        color: white;
        width: 100px;
    }

    #scheduler .rangefooter {
        border: 2px #000 solid;
        text-align: center;
        color: white;
        min-width: 100px;
        background-color: #4F342B;
    }

    #scheduler .cal {
        border-bottom-style: none;
        border-right-style: none;
        border-top-style: none;
        border-left-style: none;
    }

    #scheduler .bground {
        text-align: center;
        border-bottom: #2E4d7B 1pt solid;
        border-right: #2E4d7B 1pt groove;
        background-color: #fff;
    }

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 300px;
    height: 140px;
}


